<mat-tab-group>
    <mat-tab label="Posts">
        <readit-post-list [posts]="posts"
                          (loadPreviousPage)="loadPrevHomePosts()"
                          (loadNextPage)="loadNextHomePosts()">
        </readit-post-list>
    </mat-tab>
    <mat-tab label="Subscriptions">
        <readit-subreadit-list [subreadits]="subscribed_subreadits"
                               (loadPreviousPage)="loadPrevSubscribedSubreadits()"
                               (loadNextPage)="loadNextSubscribedSubreadits()"
        ></readit-subreadit-list>
    </mat-tab>
    <mat-tab label="Created">Created</mat-tab>
</mat-tab-group>
